@import "forTests.css";
.product-carousel{
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
}
.product-carousel header{
    text-align: center;
}
.product-carousel>.carousel-move-btn{
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}
.product-carousel>.carousel-move-btn:active{
    transform: translateY(-30%);
}
.product-carousel>.move-backward{
    right: 1%;
    left: unset;
}
.product-carousel .moving-elements{
    display: flex;
}
.moving-elements>div{
    flex-shrink: 0;
}
.elements-3-inside>div{
    width: calc(100%/3);
}
.elements-4-inside>div{
    width: calc(100%/4);
}
.elements-5-inside>div{
    width: calc(100%/5);
}
.elements-6-inside>div{
    width: calc(100%/6);
}
.elements-8-inside>div{
    width: calc(100%/8);
}
.elements-10-inside>div{
    width: calc(100%/10);
}
.elements-12-inside>div{
    width: calc(100%/12);
}
.elements-16-inside>div{
    width: calc(100%/16);
}